#header {
	padding: 24px;
	background-color: #241866;
	margin-bottom: 32px;
	width: auto;
}

#header_image {
	width: inherit;
}

#header-text {
	color: white;
	margin-top: 8px;
	margin-left: 8px;
}

.card-button {
	position: absolute;
	bottom: 24px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#header-link {
	text-decoration: none;
}